.root {
    -fx-font-weight: bold;
    -fx-font-family: "Broadway";
    -fx-background-color: linear-gradient(to right top, #d1a06b, #d4a66b, #d5ad6b, #d7b46b, #d7bb6c, #d9c071, #dbc476, #ddc97b, #e2cd85, #e7d18f, #ecd59a, #f0d9a4)

}


.button{
    -fx-font: 15px "Broadway";
    -fx-text-fill: #D68C54;
    -fx-padding: 5;
    -fx-background-color: #302820;
    -fx-effect:  dropshadow(one-pass-box, #302820, 7, 0.0, 4, 0);
    -fx-background-radius: 8;
}

.button:hover{
    -fx-background-color: #5C5043;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 8px, 8px, 8px, 8px;
    -fx-padding: 5; /* 4 8 4 8 */
    -fx-effect:  dropshadow(one-pass-box, #5C5043, 7, 0.0, 4, 0);
    -fx-text-fill: #DEB595;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}