.root {
    -fx-pref-height: 700;
    -fx-pref-width: 900;
    -fx-font-family: "Broadway";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to right top, #d1a06b, #d4a66b, #d5ad6b, #d7b46b, #d7bb6c, #d9c071, #dbc476, #ddc97b, #e2cd85, #e7d18f, #ecd59a, #f0d9a4);

}

.label{
    -fx-font: 15px "Broadway";
    -fx-text-fill: #302820;
    -fx-background-radius: 8;
    -fx-text-alignment: CENTER;
    -fx-padding: 5;
    -fx-background-color: #C6831C;
}

#displayTextArea{
    -fx-font-: 15px, "Broadway";
    -fx-text-alignment: center;
    -fx-text-fill: #694824;
    -fx-background-color: #DCB181;
    -fx-background-radius: 8;
    -fx-padding: 5;
    -fx-effect:  dropshadow(one-pass-box, #302820, 0, 0.0, -3, 1);
}
.text-area .content{
    -fx-background-color: #E5CDB4;
}

#sendTextField{
    -fx-font-: 15px, "Broadway";
    -fx-text-alignment: center;
    -fx-text-fill: #694824;
    -fx-background-color: brown;
    -fx-background-radius: 8;
    -fx-padding: 5;
    -fx-effect:  dropshadow(one-pass-box, #302820, 0, 0.0, -3, 1);
}

.button{
    -fx-font: 15px "Broadway";
    -fx-text-fill: #D68C54;
    -fx-padding: 5;
    -fx-background-color: #302820;
    -fx-effect:  dropshadow(one-pass-box, #302820, 0, 0.0, -3, 1);
    -fx-background-radius: 8;
}

.button:hover{
    -fx-background-color: #5C5043;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 8px, 8px, 8px, 8px;
    -fx-padding: 5; /* 4 8 4 8 */
    -fx-effect:  dropshadow(one-pass-box, #5C5043, 0, 0.0, -3, 1);
    -fx-text-fill: #DEB595;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#gridSeparateLobby {
    -fx-background-radius: 8;
    -fx-background-image: url(/ivan-gromov-Y3vPEuNlf7w-unsplash.jpg);
    -fx-background-repeat: no - repeat;
    -fx-background-size: stretch;
    -fx-effect: dropshadow(one-pass-box, #302820, 0, 0, -3, 1);
    -fx-padding: 5;
}

#gridPane {
    -fx-background-image: url(/spielbrett4.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}