.root {
    -fx-font-family: "Amiri Quran";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to right top, #d1a06b, #d4a66b, #d5ad6b, #d7b46b, #d7bb6c, #d9c071, #dbc476, #ddc97b, #e2cd85, #e7d18f, #ecd59a, #f0d9a4)

}

.label{
    -fx-font: 15px "Broadway";
    -fx-text-fill: #302820;
    -fx-text-alignment: center;
}

#textField{
    -fx-font-: 15px, "Broadway";
    -fx-text-alignment: center;
    -fx-text-fill: #694824;
    -fx-background-color: #DCB181;
    -fx-background-radius: 8;
}


.button{
    -fx-font: 15px "Broadway";
    -fx-text-fill: #D68C54;
    -fx-padding: 5;
    -fx-background-color: #302820;
    -fx-effect:  dropshadow(one-pass-box, #302820, 7, 0.0, 4, 0);
    -fx-background-radius: 8;
}

#gridPane {
    -fx-background-image: url(/spielbrett4.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}